.sidebar[b-4u39b6jcpa] {
    background-image: linear-gradient(180deg, #0a58ca 0%, #0639479c 70%) !important;
}

.form-control {
    background-color: lightsteelblue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.top-row {
    background-color: #083677 !important;
}
